<div class="modal-header">
    <h4>Add a reservation</h4>
</div>

<form name="reservationForm" ng-submit="addReservation()" novalidate>
    <div class="modal-body container col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div ng-class="{ 'has-error': reservationForm.title.$invalid && reservationForm.title.$touched}">
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input id="title" type="text" class="form-control" name="title" placeholder="Title" ng-model="event.title" required>
                    </div>
                    <div class="help-block" ng-messages="reservationForm.title.$error" ng-if="reservationForm.title.$touched">
                        <p ng-message="required">Title is required.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="description" type="text" class="form-control" name="description" placeholder="Description (optional)" ng-model="event.description">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class='input-group date form-group'>
                    <label for="allDay">All Day:</label>
                    <input id="allDay" name="allDay" type="checkbox" ng-model="event.allDay"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class='input-group date form-group'>
                    <label for="startDate">From:</label>
                    <div id="startDate" ng-model="event.startDate" datepicker="startDate"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class='input-group date form-group'>
                    <label for="endDate">To:</label>
                    <div id="endDate" ng-model="event.endDate" datepicker="endDate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="cancelReservation()">Cancel</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker({
            useCurrent: false
        });
        $("#startDate").on("dp.change", function (e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function (e) {
            $('#startDate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
