<div class="modal-header">
    <h4>Sign Up</h4>
</div>

<form name="registerForm" ng-submit="register()" novalidate>

    <div class="modal-body">
        <div ng-class="{ 'has-error': registerForm.username.$invalid && registerForm.username.$touched }">
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" placeholder="Username" ng-unique="{property:'username'}" ng-model="user.username" minlength="3" maxlength="15" required>
            </div>
            <div class="help-block" ng-messages="registerForm.username.$error" ng-if="registerForm.username.$touched">
                <p ng-message="required">Your username is required.</p>
                <p ng-message="unique">The username is already taken.</p>
                <p ng-message="minlength">Your username must be at least 3 characters long.</p>
                <p ng-message="maxlength">Your username cannot be longer than 15 characters.</p>
            </div>

        </div>
        <div ng-class="{ 'has-error': registerForm.email.$invalid && registerForm.email.$touched }">
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="email" type="email" class="form-control" name="email" ng-unique="{property:'email'}" placeholder="Email" ng-model="user.email" required>
            </div>
            <div class="help-block" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                <p ng-message="required">Your e-mail address is required.</p>
                <p ng-message="unique">There is already an account registered with this e-mail address.</p>
                <p ng-message="email">A valid e-mail address is required.</p>
            </div>
        </div>

        <div ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$touched }">
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" minlength="8" required>
            </div>
            <div class="help-block" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                <p ng-message="required">A password is required.</p>
                <p ng-message="minlength">Password needs to be at least 8 characters long.</p>
            </div>
        </div>
        <div ng-class="{ 'has-error': registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$touched }">
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword" compare-to="user.password" required>
            </div>
            <div class="help-block" ng-messages="registerForm.confirmPassword.$error" ng-if="registerForm.confirmPassword.$touched">
                <p ng-message="required">Please confirm your password.</p>
                <p ng-message="compareTo">Passwords don't match.</p>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="cancelRegister()">Cancel</button>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>