<script src="./libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="./libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />

<div class="modal-header">
    <h4>Add a reservation</h4>
</div>

<div class="modal-body">
    <form name="loginForm">
        <div class="input-group form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="title" type="text" class="form-control" name="title" placeholder="Title" ng-model="event.title" required>
        </div>

        <div class="input-group form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="description" type="textbox" class="form-control" name="description" placeholder="Description (optional)" ng-model="event.description">
        </div>
        <div class='input-group date form-group'>
            <label for="startDate">From:</label>
            <div id="startDate" ng-model="event.startDate" datepicker="startDate"></div>
        </div>
        <div class='input-group date form-group'>
            <label for="endDate">To:</label>
            <div id="endDate" ng-model="event.endDate" datepicker="endDate"></div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancelReservation()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="addReservation()">Add</button>
</div>

<script type="text/javascript">
    $(function () {
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker({
            useCurrent: false
        });
        $("#startDate").on("dp.change", function (e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function (e) {
            $('#startDate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
